

input{
  margin-bottom: 3%;
  margin-top:.5%;
}

.nagButtons{
  background-color: #105ad1;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
}
.ButtonNagBox{
  display:flex;
  justify-content:space-evenly;
  flex-direction: row;
  
}

h1{
  text-align:center;
  font-size:3em;
}
body{
  font-size: 14px;
}
.settingsContent{
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-bottom:2%;
    margin-top: 2%;
    justify-content: flex-start;
  
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0a3882;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
}

nav {
  width: 30%;
  height: 300px;
  background: #ccc;
  background-color:pink;
  outline: 3px solid red;
  padding-left: 0px;
  padding-right:0px;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  display:flex;
}

nav li{
  padding-left: 10px;
  background-color: yellow;
  width:100%;
  outline: 3px solid red;
  height:40px;
 text-align: center;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
}

section:after {
  content: "";
  display: inline;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

nav, article {
      width: 100%;
      height: auto;
}
.buttonItem {
  margin-bottom: 2%;
  background-color: #0a3882;
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  border-radius: 12px;
}
.flexBox1{
  display:flex;
}
.flexBox2{
  display:flex;
}
#happyFingers{
  display:flex;
  width:auto;
  height:25%;
}
#ram{
  display:flex;
  width:auto;
  height:25%;
}
#bee{
  display:flex;
  width:auto;
  height:25%;
}
#airBMB{
  display:flex;
  width:auto;
  height:25%;
}
#soundStoreBtn{
  text-align:center;
}
.flexVert{
  display: flex;
  flex-direction: column;
}
.buttonItem1 {
  margin-bottom: 2%;
  background-color:#8ca5cc;
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  border-radius: 12px;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}