html {
    background-color: #113e75;
  }

input{
  margin-bottom: 3%;
  margin-top:.5%;
}

.nagButtons{
  background-color: #105ad1;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  border-radius: 12px;
}
.ButtonNagBox{
  display:flex;
  flex-grow: 1;
  justify-content:space-evenly
  
}

h1{
  text-align:center;
  font-size:5em;
  background-color: #19753e;
}
body{
  background-color: #371f8e
}
.settingsContent{
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-bottom:5%;
    margin-top: 2%;
}
